.app-title {
  text-align: center;
  border: 2px solid black;
  width: 50%;
  margin: 0px auto;
  margin-top: 15px;
}

.month-component {
  border: 2px solid red;
  width: 75%;
  margin: 0px auto;
}

.current-month { 
  font-size: 3em;
  text-align: center;
  
}